<div class="row cd">
  <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="body">
        <h5 class="card-title">Gift Cards</h5>
        <a href="#">Learn</a>
      </div>
      <div class="card border-primary" style="width:100%;">
        <div class="body">
          <p class="card-text">Gift card feature is available on <b>One store</b> and <b>Multi-Store</b> plans.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h3 class="txt">Sell gift cards to your customers</h3>
          <p style="padding-top:10px; font-size:20px;">Gift cards are a great way to<br> get your sales numbers <br>booming and attract new customers.</p>
          <button type="button" class="btn btn-dark" style="width:80%;">ACTIVATE GIFT CARDS</button>
          <p style="padding-top:10px; font-size:12px; color: dimgray;">Available on <b>One store</b> and <b>Multi-Store</b> plans.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/gg.png" style="width:95%; height:90%; float: right">
          </div>
      </div>


    </div>

<!-- <div class="border border-grey-cararra"></div> -->
<hr style="border-top: 3px solid rgba(0,0,0,.1); padding: 15px 30px; width: 56%;">



<div class="row justify-content-center">
    <div class="col-md-2">
      <div class="body">
          <div>
              <img src="assets/b.jpg" style="width:30%; height:20%; ">            
            </div>
          <h3 style="font-size:22px;">Boost sales</h3>
          <p style="font-size:14px;">Let existing customers spend more with your business and introduce your business to their friends and family.</p>
      </div>
    </div>

    <div class="col-md-2">
          <div class="body">
              <div>
                  <img src="assets/b.png" style="width:20%; height:20%; ">            
                </div>
              <h3 style="font-size:22px;">Added choice</h3>
              <p style="font-size:14px;">Gift card is always a great option for customers unsure about gift options available in your catalog.</p>
          </div>
        </div>

        <div class="col-md-2 ">
              <div class="body">
                  <div>
                      <img src="assets/m.jpg" style="width:23%; height:20%; ">            
                    </div>
                  <h3 style="font-size:22px;">Marketing tool</h3>
                  <p style="font-size:14px;">Get your own branded plastic gift cards printed and display those on checkout just like those corporate giants.</p>
              </div>
            </div>
      
  </div>
</div>

