<div class="row cd">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="body">
          <h5 class="card-title">Loyalty Points</h5>
          <a href="#">Learn</a>
        </div>
        <div class="card border-primary" style="width:100%;">
          <div class="body">
            <p class="card-text">Loyalty rewards feature is available on <b>One store</b> and <b>Multi-Store</b> plans.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <h3 class="txt">Reward your Loyal Customer</h3>
            <p style="padding-top:10px; font-size:20px;">Increase recurring sales and<br> gain meaningful insights.</p>
            <button type="button" class="btn btn-dark">ACTIVATE LOYALTY REWARDS</button>
            <p style="padding-top:10px; font-size:12px; color: dimgray;">Available on <b>One store</b> and <b>Multi-Store</b> plans.</p>
          </div>
          <div class="col-md-6">
            <img src="assets/r.png" style="width:130%; height:90%; padding-top: 20px;">
          </div>
        </div>


      </div>

<!-- <div class="border border-grey-cararra"></div> -->
<hr style="border-top: 3px solid rgba(0,0,0,.1); padding: 15px 30px; width: 750px;">



  <div class="row justify-content-center">
      <div class="col-md-2">
        <div class="body">
          <div>
            <img src="assets/p.png" style="width:20%; height:20%; ">            
          </div>
            <h3 style="font-size:22px;">Rewards for purchases</h3>
            <p style="font-size:14px;">Reward your regular customers with loyalty point for every dollar spent. You decide the number of points earned for every dollar spent.</p>
        </div>
      </div>

      <div class="col-md-2">
            <div class="body">
              <div>
                <img src="assets/mt.png" style="width:20%; height:30%;">
              </div>                            
                <h3 style="font-size:22px; padding-top: 5px;">Targeted marketing tool</h3>
                <p style="font-size:14px;">Offer additional loyalty points for high margin products or those that you wish to move faster.</p>
            </div>
          </div>

          <div class="col-md-2 ">
                <div class="body">
                    <div>
                      <img src="assets/bri.jpg" style="width:20%; height:30%;">
                    </div>
                    <h3 style="font-size:22px;">Meaningful insights</h3>
                    <p style="font-size:14px;">Get more customers to create a profiles with your business. Know your best customers and their spending patterns.</p>
                </div>
              </div>
        
    </div>
  
  </div>
